body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0b0b0b;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;

}
/* HERO COM BACKGROUND */
.hero {
  background: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/StarfieldSimulation004.gif") center no-repeat;
  background-size: 100%; /* diminui o zoom */
  background-color: black; /* fundo pra não ficar vazio */
}
  display: flex;
  align-items: center;

/* camada escura */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

/* deixa o conteúdo na frente */
.hero header {
  position: relative;
  z-index: 2;
  width: 100%;
}

/* LOGO */
.logo {
  font-size: 64px;
  color: #ffd000; /* amarelo pato */
  cursor: pointer;
  font-weight: bold;
  align-items: center;   /* centraliza vertical */
}
.logo img {
  height: 300px; /* ajusta aqui se quiser maior */
  cursor: pointer;
  height: 300px;
  filter: drop-shadow(0 0 5px #ffd000);
}

/* BUSCA GRANDE */
.busca-container {
  flex: 1;
  display: flex;
  justify-content: center;
  
}

.busca-box {
  display: flex;
  width: 800px; /* MAIOR */
}

.busca-box input {
  flex: 1;
  padding: 14px;
  border-radius: 30px 0 0 30px;
  border: none;
  font-size: 16px;
}

.busca-box button {
  padding: 14px 20px;
  border: none;
  border-radius: 0 30px 30px 0;
  background: #ffd000;
  cursor: pointer;
}

/* PLAYER */
#area-player {
  display: none;
  padding: 20px;
}

.player-topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fecharPlayer {
  background: red;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

/* VIDEO */
iframe {
  width: 100%;
  height: 70vh;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

/* INFO FILME */
#infoFilme {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#infoFilme img {
  width: 180px;
  border-radius: 10px;
}

.info-texto h3 {
  margin: 0;
}

.info-texto p {
  margin: 5px 0;
  color: #ccc;
}

/* GRID */
main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* CARD */
.card {
  cursor: pointer;
  transition: 0.3s;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.08);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #000;
}